body {
  display: flex;
  flex-direction: column;
  font-family: 'Montserrat';
  font-size: 800;
  min-height: 100vh;
  margin: 20px;
  padding-bottom: 0
}

.name {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-left: 20%;
  margin-top: -15px;
}

.name p {
  position: absolute;
  transform: translate(-50%, -50%);
  font-size: 3em;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.name p:nth-child(1) {
  color: transparent;
  -webkit-text-stroke: 2px #f92420;
}

.name p:nth-child(2) {
  color: #f92420;
  animation: animate 5s ease-in-out infinite;
}

@keyframes animate {

  0%,
  100% {
    clip-path: polygon(0% 45%, 15% 44%, 32% 50%, 54% 60%, 70% 61%, 84% 59%, 100% 52%, 100% 100%, 0% 100%)
  }

  50% {
    clip-path: polygon(0 60%, 16% 65%, 34% 66%, 51% 62%, 67% 50%, 84% 45%, 100% 40%, 100% 100%, 0% 100%)
  }
}

          /*HEADER*/


header {
  display: flex;
  flex-direction: column;
  align-items: center;
}


.job{
  color: #f92420;
  height: 55px;
  font-size: 25px;
}

.des{
  margin-bottom: 15px;
}

.des p{
  display: flex;
  align-items: center;
  font-size: 15px;
  width: 100%;
  height: 10px;
  padding-left: 5%;
  color: darkturquoise;
}


      /* NAV */


nav {
  padding-top: 5px;
}

.nav-barre {
  position: relative;
  width: calc(100% - 45px);
  margin: 0 auto;
  background: #000000;
  z-index: 1;
  text-align: center;
  padding-right: 2%;
}

.logo {
  width: 5%;
  float: left;
  text-align: left;
  padding: 10px 25px;
}

.logo-2 {
  width: 5%;
  float: right;
  text-align: right;
  padding: 10px 25px;
}

.menu li {
  display: inline-block;
  list-style-type: none;
}

.menu a {
  color: #fff;
  font-weight: 900;
  letter-spacing: 1px;
  text-transform: uppercase;
  display: block;
  padding: 15px 20px;
  font-size: 15px;
  line-height: 20px;
  position: relative;
  z-index: 1;
  text-decoration: none;
}

.menu a:hover {
  background: #f92420;
  color: #fff;
}

nav:before {
  position: absolute;
  content: '';
  border-top: 10px solid #333;
  border-right: 10px solid #333;
  border-left: 10px solid transparent;
  border-bottom: 10px solid transparent;
  top: 100%;
  left: 0;
}

nav:after {
  position: absolute;
  content: '';
  border-top: 10px solid #333;
  border-left: 10px solid #333;
  border-right: 10px solid transparent;
  border-bottom: 10px solid transparent;
  top: 100%;
  right: 0;
}



      /* SECTION */

h1{
  display: flex;
    justify-content: center;
    font-size: 30px;
    color: darkturquoise;
}


  /* PIC */

.pic img {
  width: 300px;
  height: 300px;
  border-radius: 160px;
}

.pic a{
  display: flex;
  justify-content: center;
}


    /* INTRO */

.p1{
  float: left;
    margin-top: -12%;
    width: 32%;
    margin-left: 2%;
}

.p2{
  float: right;
  margin-top: -12%;
  width: 32%;
  margin-right: 2%;
}


      /* FOOTER */

footer{
  margin-top: 270px;
    background: black;
    width: 100%;
    height: 70px;
    border-radius: 20px;
}

.media{
  display: flex;
  align-items: center;
  justify-content: center;
}